<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medical.dao.WorkersMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.medical.po.Users">
        <result column="w_id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="userrole" property="userrole" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="mobilephone" property="mobilephone" jdbcType="VARCHAR"/>
        <result column="u_status" property="u_status" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        w_id,
        username,
        password
    </sql>

    <!--更新员工信息-->
    <update id="updateWorkersByUsername" parameterType="workers">
      UPDATE workers
      <set>
        <if test="workers.password != null"> password= #{workers.password,jdbcType=VARCHAR},</if>
        <if test="workers.name != null"> name= #{workers.name,jdbcType=VARCHAR},</if>
        <if test="workers.mobilephone != null"> mobilephone= #{workers.mobilephone,jdbcType=VARCHAR}</if>
      </set>
      WHERE username = #{workers.username,jdbcType=VARCHAR}
    </update>

  <!--查询一个用户通过登录账号-->
    <select id="findWorkerByUsername" parameterType="String" resultType="workers">
          SELECT * FROM workers
          WHERE username = #{username,jdbcType=VARCHAR}
    </select>

  <!--列表所有学生-->
    <select id="listCustomer" resultMap="BaseResultMap">
        SELECT * FROM users WHERE userrole = '学生'
    </select>
</mapper>

